* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-size: 65px;
    font-weight: 500;
}

body {
    margin: 0px;
    font-family: Poppins, sans-serif;
    padding: 0px;
}

.navbar {
    top: 0px;
    left: 0px;
    right: 0px;
    height: 60px;
    background-color: rgb(190, 49, 68);
    color: rgb(240, 240, 240);
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
    font-size: 18px;
}

.navbar div {
    padding: 0px 12px;
    margin: 0px;
    cursor: pointer;
    height: 100%;
    display: inherit;
    align-items: center;
    justify-content: center;
}

.navbar div a {
    text-decoration: none;
    color: inherit;
}

.navbar div:hover {
    background-color: rgb(72, 86, 122);
}

.welcome-section,
.projects-section,
.contact-section {
    background-color: black;
    width: 100vw;
    color: rgb(240, 240, 240);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 1.0;

}

.welcome-section {
    background-color: pink;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
    height: 100vh;
}

.welcome-section i {
    color: rgb(190, 49, 68);
    font-size: 20px;
    font-weight: 300;
}

.projects-section {
    background-color: pink;
    min-height: 100vh;
    padding: 80px 20px;
}

.project-grid {
    /* display: flex;
    gap: 5em;
    flex-wrap: wrap; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;

}

.project {
    background-color: red;
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.contact-section {
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
    height: 100vh;
}

.contact-section i {
    font-size: 16px;
    font-weight: 100;
}

.contact-options {
    display: flex;
    margin-top: 100px;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
}

.contact {
    display: flex;
    padding: 0px 40px;
    cursor: pointer;
    align-items: center;
}

.contact img {
    padding-right: 8px;
    width: 100%;
    max-width: 50px;
    max-height: 50px;
    height: 100%;
    /* object-fit: cover; */
    border-radius: 10px;
}

.contact p {
    font-size: 20px;
    font-weight: 300;
    /* flex: 1fr; */
}

.contact:hover {
    /* padding: 0px 60px; */
}

footer {
    /* align-content: flex-end; */
}